<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hong.free.mapper.FreeBoardMapper">

	<!-- list -->
	<select id="list" resultType="com.hong.free.vo.FreeBoardVO">
		select no, title, memberId, regDate, hit  
		from freeboard order by no desc  
	</select>

	<!-- 전체 데이터 개수 가져오기 -->
	<select id="getTotalRow" resultType="java.lang.Long">
		select count(*) from freeboard
	</select>

	<!-- view -->
	<select id="view" resultType="com.hong.free.vo.FreeBoardVO">
		select no, title, content, memberId, regDate, hit 
		from freeboard where no=#{no}		
	</select>
	
	<!-- 조회수 1증가 - update -->
	<update id="increase">
		update freeboard set hit = hit + 1 where no = #{no}
	</update>
	
	<!-- write -->
	<insert id="write">
		insert into freeboard(no, title, content, memberId) 
		values (#{no}, #{title}, #{content}, #{memberId})
	</insert>
	
	<!-- update -->
	<update id="update">
		update freeboard set title=#{title}, content=#{content}, memberId=#{memberId} 
		where no=#{no}
	</update>
	
	<!-- delete -->
	<delete id="delete">
		delete from freeboard 
		where no=#{no}
	</delete>
	
</mapper>